
/* font-family: 'Didact Gothic', sans-serif;
font-family: 'PT Serif', serif;
*/

body {
    font-family: 'PT Serif', serif;
    background-image: url(images/background/y-so-serious.png);
    background-repeat: repeat;

}

header {
    height: 140px;
    text-align: center;
    background-color: #23272A;
    padding-bottom: 20px;
    box-shadow: 6px 12px 5px #2C2F33;
    margin-left: 100px;
    margin-right: 100px;
}

.name {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 73px;
    color: whitesmoke;
}

header h2 {
    font-family: 'Didact Gothic', sans-serif;
    color: whitesmoke;
}

.content {
    font-family: 'PT Serif', serif;
    background-color: #23272A;
    margin: 100px;
    box-shadow: 6px 12px 5px #2C2F33;
    text-align: center;
    color: whitesmoke;
    padding-bottom: 20px

}
.content > h1 {
    font-family: 'Didact Gothic', sans-serif;
    color: whitesmoke;
}

.content > ul {
    text-align: left;
    color: whitesmoke;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    font-family: 'PT Serif', serif;
}