
/* font-family: 'Didact Gothic', sans-serif;
font-family: 'PT Serif', serif;
*/

/* General Styles */
body {
    font-family: 'PT Serif', serif;
    background: url(images/background/y-so-serious.png);
    background-repeat: repeat;

}

header {
    height: 140px;
    text-align: center;
    background: #23272A;
    padding-bottom: 20px;
    box-shadow: 6px 12px 5px #2C2F33;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
}

.name {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 73px;
    color: whitesmoke;
}

header h2 {
    font-family: 'Didact Gothic', sans-serif;
    color: whitesmoke;
}

/* All of this is the body of the page, mostly using child selectors in the Content Div */

.content {
    font-family: 'PT Serif', serif;
    background: #23272A;
    width: 750px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 6px 12px 5px #2C2F33;
    text-align: center;
    color: whitesmoke;
    padding-bottom: 20px;
    padding-top: 20px;

}
.content > h1 {
    font-family: 'Didact Gothic', sans-serif;
    color: whitesmoke;
}

.content > h2 {
    font-family: 'Didact Gothic', sans-serif;
    color: whitesmoke;
}

.content > h3 {
    font-family: 'Didact Gothic', sans-serif;
    color: whitesmoke;
}

.content > ul {
    text-align: left;
    color: whitesmoke;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.content > ol {
    text-align: left;
    color: whitesmoke;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.content > img {
    width: 200px;
    height: 200px;
}

.content > p {
    width: 500px;
    margin-left: auto;
    margin-right: auto;    
}

.content > hr {
    margin: 40px
}


/* Stylizing Links */
a {
	font-weight: 700;
	text-decoration: none;	
}
a:link { color: #99AAB5; }
a:visited { color: #99AAB5; }
a:hover { color: #7289DA; }
a:active { color: #7289DA; }
a:hover {
	text-decoration: underline;	
}


/* Footer */

footer {
    font-family: 'Didact Gothic', sans-serif;
    height: 40px;
    text-align: center;
    background: #23272A;
    padding-bottom: 10px;
    box-shadow: 6px 12px 5px #2C2F33;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 750px;
    color: whitesmoke
    
}